footer{
    background-color: #f7f7f7;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer h1{
    font-family: "Amplify";
    font-size: 15px;
    color: black;
    font-weight: 300;
}

footer p{
    font-family: "AvantGardeLT";
    font-size: 6px;
    color: black;
    font-weight: 300;
}

@media (min-width: 768px) {
    footer h1{
        font-size: 25px;
    }
    
    footer p{
        font-size: 13px;
    }
}

@media (min-width: 992px) {
    
}