.signUp{
    text-align: center;
    padding: 30px 0;
}

.signUp h2{
    font-family: Lato-Bold;
    font-size: 15px;
    color: grey;
    font-weight: 300;
    text-transform: uppercase;
}

.signUp p{
    font-family: Lato-Regular;
    font-size: 9px;
    color: grey;
}

.btn-sign{
    background-color: #65bf95;
    color: white;
    font-family: Lato-Regular;
    font-size: 10px;
    text-decoration: none;
    padding: 10px 20px;
}

@media (min-width: 768px) {
    .signUp h2{
        font-size: 25px;
    }
    
    .signUp p{
        font-size: 19px;
    }
    
    .btn-sign{
        font-size: 15px;
    }
}

@media (min-width: 992px) {

}